
html, body {
	
	height : 100%;
	width : 100%;
	padding : 0;
	margin :  0;
}

body {
	text-align:center;
	overflow : hidden;
}

button, select, input
{
border:1px solid;
height:19px;
}

input[type=text]
{
height:16px;
}
